<div [ngStyle]="{ 'max-width.px': 576 }" ngClass="mx-auto text-center mt-5">
  Wybierz markę:
</div>
<div
  [ngStyle]="{ 'max-width.px': 576 }"
  ngClass="bg-gray-200 mx-auto flex flex-row items-center justify-center space-x-20 h-10 mt-10 rounded-t-md border-2 border-gray-500 font-semibold"
>
  <button
    [ngClass]="{
      'transition-all text-purple-500': activeMark === marks[0].name
    }"
    (click)="selectMark(marks[0].name)"
  >
    {{ marks[0].name }}
  </button>
  <button
    [ngClass]="{
      'transition-all text-purple-500': activeMark === marks[1].name
    }"
    (click)="selectMark(marks[1].name)"
  >
    {{ marks[1].name }}
  </button>
  <button
    [ngClass]="{
      'transition-all text-purple-500': activeMark === marks[2].name
    }"
    (click)="selectMark(marks[2].name)"
  >
    {{ marks[2].name }}
  </button>
</div>

<div
  [ngStyle]="{ 'max-width.px': 576 }"
  ngClass="bg-gray-200 mx-auto rounded-b-md p-4 border-2 border-gray-500 border-t-0"
>
  <ng-container [ngSwitch]="activeMark">
    <div *ngSwitchCase="'Porsche'" ngClass="flex flex-col space-y-3">
      <span
        >Pochodzenie Marki:
        <span ngClass="font-semibold">{{ cars[0].mark?.country }}</span></span
      >
      <span
        >Model: <span ngClass="font-semibold">{{ cars[0].model }}</span></span
      >
      <span
        >Rocznik: <span ngClass="font-semibold">{{ cars[0].year }}</span></span
      >
    </div>
    <div *ngSwitchCase="'Renault'" ngClass="flex flex-col space-y-3">
      <span
        >Pochodzenie Marki:
        <span ngClass="font-semibold">{{ cars[1].mark?.country }}</span></span
      >
      <span
        >Model: <span ngClass="font-semibold">{{ cars[1].model }}</span></span
      >
      <span
        >Rocznik: <span ngClass="font-semibold">{{ cars[1].year }}</span></span
      >
    </div>
    <div *ngSwitchCase="'Škoda'" ngClass="flex flex-col space-y-3">
      <span
        >Pochodzenie Marki:
        <span ngClass="font-semibold">{{ cars[2].mark?.country }}</span></span
      >
      <span
        >Model: <span ngClass="font-semibold">{{ cars[2].model }}</span></span
      >
      <span
        >Rocznik: <span ngClass="font-semibold">{{ cars[2].year }}</span></span
      >
    </div>
    <div *ngSwitchDefault>Nie wybrano</div>
  </ng-container>
</div>
